In [1]:
print("Hello World")

Hello World

In [3]:
# Drawing a shape using print statement
print("   /|")
print("  / |")
print(" /  |")
print("/___|")

   /|
  / |
 /  |
/___|

In [1]:
# Variable and data types
character_name = "Tom"  # character_name and character_age are variables
character_age = "50"
print("There once was a man named " + character_name + ", ")
print("he was " + character_age + " years old.")
print("He really liked the name " + character_name + ", ")
print("but didn't like being " + character_age + ".")

There once was a man named Tom,
he was 50 years old.
He really liked the name Tom,
but didn't like being 50.

In [ ]:
character_name = "Tom"  # character_name and character_age are variables
character_age = "50"
print("There once was a man named " + character_name + " , ")
print("he was " + character_age + " years old.")
# python mai ek datatype hai jisse string kete hai aur ye sirf adha part store krega
character_name = "Mike"
print("He really liked the name " + character_name + " , ")
print("but didn't like being " + character_age + ".")

There once was a man named Tom ,
he was 50 years old.
He really liked the name Mike ,
but didn't like being 50.

In [ ]:
# part to store krne ke ilawa hum usme number bhi store kr sakte hai
# ham quotation marks tab use krte hai jab hum kissi string ko store krte hai
# pr jab hame kissi number ko store krna hota hai tab hame quotation marks ki jarrorat 
# nhi hoti.

In [ ]:
character_name = "Tom"  # character_name and character_age are variables
character_age = 50
is_Male = True
print("There once was a man named " + character_name + " , ")
print("he was " + character_age + " years old.")
print("He really liked the name " + character_name + " , ")
print("but didn't like being " + character_age + ".")

In [ ]:
# working with strings:
phrase = "Chitkara University"
print(phrase + " is cool.")

Chitkara University is cool.

In [10]:
phrase = "Chitkara University"
print(phrase.lower())

chitkara university

In [11]:
phrase = "Chitkara University"
print(phrase.upper())

CHITKARA UNIVERSITY

In [12]:
phrase = "Chitkara University"
print(phrase.isupper())

False

In [1]:
phrase = "Chitkara University"
print(phrase.upper().isupper())

True

In [2]:
phrase = "Chitkara University"
print(len(phrase))

19

In [ ]:
phrase = "Chitkara University"
print(phrase[3])    
# index hamesha zero se shuru hota hai

t

In [5]:
phrase = "Chitkara University"
print(phrase.index("a"))

5

In [6]:
phrase = "Chitkara University"
print(phrase.replace("Chitkara","Chandigarh"))

Chandigarh University

In [7]:
# Working with numbers:
print(2)

2

In [8]:
print(2.0987)

2.0987

In [9]:
print(-2.0987)

-2.0987

In [ ]:
print(3 + 4.5)

7.5

In [12]:
print(3 * (4 + 5))

27

In [13]:
print(3 * 4 + 5)

17

In [ ]:
print(10 % 3)   # gives only remainder

1

In [15]:
my_num = 5
print(my_num)

5

In [17]:
my_num = 5
print(str(my_num) + " my favorite number")

5 my favorite number

In [18]:
my_num = -5
print(abs(my_num))

5

In [20]:
my_num = -5
print(pow(4,6))

4096

In [21]:
my_num = 5
print(max(4,6))

6

In [22]:
print(min(4,6))

4

In [23]:
print(round(3.2))

3

In [24]:
print(round(3.7))

4

In [ ]:
from math import *
my_num = 5
print(floor(3.7))
# floor jo pehle wala number hota hai usse print krke deta hai agr yaha pr -4.7 hota to -5 print krta.

3

In [27]:
from math import *
my_num = 5
print(sqrt(36))

6.0

In [28]:
# getting input from user:
name = input("Enter your name: ")
print("Hello " + name + "!")

Hello Jashan!

In [29]:
name = input("Enter your name: ")
age = input("Enter your age: ")
print("Hello " + name + "! You are " + age)

Hello Jashan! You are 18

In [30]:
# Building a basic calculator:
num1 = input("Enter a number: ")
num2 = input("Enter another number: ")
result = num1 + num2
print(result)

55

In [33]:
num1 = int(input("Enter a number: "))
num2 = int(input("Enter another number: "))
result = num1 + num2
print(result)

9

In [34]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter another number: "))
result = num1 + num2
print(result)

9.5

In [35]:
# Mad libs game:
color = input("Enter a color: ")
plural_nouns = input("Enter a plural noun: ")
celebrity = input("Enter a celebrity: ")
print("Roses are " + color)
print(plural_nouns + " are blue")
print("I love " + celebrity)

Roses are blue
roses are blue
I love myself

In [37]:
# Lists:
friends = ["Rahul", "Ajay", "Aman"]

print(friends)
print(friends[2])

['Rahul', 'Ajay', 'Aman']
Aman

In [1]:
# List Functions:
lucky_numbers = [4,8,15,16,23,42]
friends = ["Jon","Doe","Bunn","Sam","Leo"]

print(friends)

['Jon', 'Doe', 'Bunn', 'Sam', 'Leo']

In [ ]:
lucky_numbers = [4,8,15,16,23,42]
friends = ["Jon","Doe","Bunn","Sam","Leo"]
friends.extend(lucky_numbers)   # extend function dosri list ko add krne mai
print(friends)                  # help krta hai.

['Jon', 'Doe', 'Bunn', 'Sam', 'Leo', 4, 8, 15, 16, 23, 42]

In [ ]:
lucky_numbers = [4,8,15,16,23,42]
friends = ["Jon","Doe","Bunn","Sam","Leo"]
friends.append("Don")   # append hamesha last mai join krne mai help krta hai
print(friends)

['Jon', 'Doe', 'Bunn', 'Sam', 'Leo', 'Don']

In [ ]:
lucky_numbers = [4,8,15,16,23,42]
friends = ["Jon","Doe","Bunn","Sam","Leo"]
friends.insert(1, "Kevin")  # insert kahi bhi beech mai add krne mai help krta hai
print(friends)

['Jon', 'Kevin', 'Doe', 'Bunn', 'Sam', 'Leo']

In [ ]:
lucky_numbers = [4,8,15,16,23,42]
friends = ["Jon","Doe","Bunn","Sam","Leo"]
friends.remove("Doe")   # remove kissi ek particular name ya element ko remove krne mai help krta hai
print(friends)

['Jon', 'Bunn', 'Sam', 'Leo']

In [ ]:
lucky_numbers = [4,8,15,16,23,42]
friends = ["Jon","Doe","Bunn","Sam","Leo"]
friends.clear() # clear function sari list ke elements ko clear krne mai help krta hai aur hame ek empty list deta hai
print(friends)

[]

In [ ]:
lucky_numbers = [4,8,15,16,23,42]
friends = ["Jon","Doe","Bunn","Sam","Leo"]
friends.pop()   # pop removes the last element from the list
print(friends)

['Jon', 'Doe', 'Bunn', 'Sam']

In [ ]:
lucky_numbers = [4,8,15,16,23,42]
friends = ["Jon","Doe","Bunn","Sam","Leo"]

print(friends.index("Bunn")) # index function hame check krke batata hai ki yeh element list mai hai ki ni agr hai toh konse index pr hai
# print(friends.index("Mike"))

2

ValueError: 'Mike' is not in list

In [3]:
lucky_numbers = [4,8,15,16,23,42]
friends = ["Jon","Doe","Bunn","Bunn","Sam","Leo"]
print(lucky_numbers.sort())
print(friends.count("Bunn"))    # count function elements ko count krne mai help krta hai batata hai ki yeh element list mai kitni baar aaya hai.

None
2

In [15]:
lucky_numbers = [49,8,15,16,23,42]
friends = ["Jon","Doe","Bunn","Sam","Leo"]
lucky_numbers.sort()
print(lucky_numbers)

[8, 15, 16, 23, 42, 49]

In [16]:
lucky_numbers = [4,8,15,16,23,42]
friends = ["Jon","Doe","Bunn","Sam","Leo"]
lucky_numbers.reverse()
print(lucky_numbers)

[42, 23, 16, 15, 8, 4]

In [17]:
lucky_numbers = [4,8,15,16,23,42]
friends = ["Jon","Doe","Bunn","Sam","Leo"]

friends2 = friends.copy()

print(friends2)

['Jon', 'Doe', 'Bunn', 'Sam', 'Leo']

In [18]:
# Tuples
coordinates = (4,5)
print(coordinates)

(4, 5)

In [21]:
coordinates = (4,5)
coordinates[1] = 10
print(coordinates[1])

TypeError: 'tuple' object does not support item assignment

In [ ]:
coordinates = [(4,5),(6,7),(80,34)] # converting tuple to list to change the value
coordinates[1] = 10
print(coordinates[1])

10

In [24]:
# Functions
def sayhi():
    print("Hello User")

sayhi()

Hello User

In [25]:
def sayhi():
    print("Hello User")

print("Top")
sayhi()
print("Bottom")

Top
Hello User
Bottom

In [28]:
def say_hi(name):
    print("Hello " + name)

say_hi("Mike")
say_hi("Steve")

Hello Mike
Hello Steve

In [32]:
def say_hi(name, age):
    print("Hello " + name + ", you are " + str(age))

say_hi("Mike", 35)
say_hi("Steve", 70)

Hello Mike, you are 35
Hello Steve, you are 70

In [ ]:
def say_hi(name, age):
    print("Hello " + name + ", you are " + str(age))


say_hi("Mike", 35)
say_hi("Steve", 70)

In [ ]:
# Return statement
def cube(num):
    return num*num*num
    # hum return ke baad ko bhi statement ko print ni kr sakte
result = cube(5)
print(result)

125

In [43]:
# if statements
is_male = False
is_tall = False

if is_male or is_tall:
    print("You are a male or tall or both")
else:
    print("You are neither male nor tall")

You are neither male nor tall

In [46]:
is_male = True
is_tall = True

if is_male and is_tall:
    print("You are a tall male")
else:
    print("You are either not male or not tall or both")

You are a tall male

In [1]:
is_male = True
is_tall = True

if is_male and is_tall:
    print("You are a tall male")
elif is_male and not(is_tall):
    print("You are a short male")
elif not(is_male) and is_tall:
    print("You are not a male but are tall")
else:
    print("You are not a male and not tall")

You are a tall male

In [2]:
# If statements and comparisons:
def max_num(a,b,c):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c
    
print(max_num(3,4,5))

5

In [3]:
# Building a better calculator:
num1 = float(input("Enter first number: "))
op = input("Enter operator: ")
num2 = float(input("Enter second number: "))

if op == "+":
    print(num1 + num2)
elif op == "-":
    print(num1 - num2)
elif op == "/":
    print(num1 / num2)
elif op == "*":
    print(num1 * num2)
else:
    print("Invalid operator")

100.0

In [4]:
# Dictionaries:
month_conversions = {
    "Jan" : "January",
    "Feb" : "February",
    "Mar" : "March", 
    "Apr" : "April",
    "May" : "May",
    "Jun" : "June",
    "Jul" : "July",
    "Aug" : "August",
    "Sep" : "September",
    "Oct" : "October",
    "Nov" : "November",
    "Dec" : "December",
}

print(month_conversions.get("luv", "Not a valid key"))

Not a valid key

In [7]:
# While loop
i = 1
while i <= 10:
    print(i)
    i += 1
print("Done with the loop")

1
2
3
4
5
6
7
8
9
10
Done with the loop

In [9]:
i = 1
while i <= 10:
    print(i,end=" ")
    i += 1
print("\nDone with the loop")

1 2 3 4 5 6 7 8 9 10
Done with the loop

In [ ]:
# Building a guessing game
secret_word = "giraffe"
guess = ""

while guess != secret_word:
    guess = input("Enter guess: ")

print("You win!")


# EXCELLENT GAME

You win!

In [13]:
# Modified
secret_word = "giraffe"
guess = ""
guess_count = 0
guess_limit = 3
out_of_guesses = False

while guess != secret_word and not(out_of_guesses):
    if guess_count < guess_limit:
        guess = input("Enter guess: ")
        guess_count += 1
    else:
        out_of_guesses = True

if out_of_guesses:
    print("Out of Guesses, YOU LOSE")
else:
    print("You win!")

You win!

In [15]:
# For loop
for letter in "Chitkara Univeristy":
    print(letter, end=" ")

C h i t k a r a   U n i v e r i s t y

In [16]:
for i in range(5):
    print(i, end=" ")

0 1 2 3 4

In [17]:
friends = ['Jim', 'Karen', 'Kevin']
for friend in friends:
    print(friend)

Jim
Karen
Kevin

In [18]:
for index in range(5):
    if index == 0:
        print("first Iteration")
    else:
        print("Not first")

first Iteration
Not first
Not first
Not first
Not first

In [23]:
# Exponent function
def raise_to_power(base_num, pow_num):
    result = 1
    for index in range(pow_num):
        result *= base_num
    return result
print(raise_to_power(2, 3))

8

In [27]:
# 2D List and Nested Loops
number_grid = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
    [0]
]               # 4 rows 3 columns

for row in number_grid:
    for col in row:
        print(col)

1
2
3
4
5
6
7
8
9
0

In [30]:
# Build a translator
# Giraffe Language
# vowels -> g
# ------------

# dog -> dgg
# cat -> cgt
def translate(phrase):
    translation = ""
    for letter in phrase:
        if letter.lower() in "aeiou":
            if letter.upper():
                translation += "G"
            else:
                translation += "g"
        else:
            translation += letter
    return translation

print(translate(input("Enter a phrase: ")))

Gn

In [ ]:
# Comments

print("Comments are fun")

Comments are fun

In [ ]:
# Try Except
try:
    number1 = int(input("Enter the number: "))
    number2 = int(input("Enter the number: "))
    value = number1 / number2
    print(value)
except ValueError:
    print("Error: Enter the valid numeric value.")
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")
finally:
    print("Attempt completed")

2.0
Attempt completed

In [57]:
# Reading files
employee_file = open("employees.txt", "r")
for employee in employee_file.readlines():
    print(employee)

Jim - Salesman

Dwight - Salesman

Pam - Receptionist

Michael - Manager

Oscar - Accountant

In [ ]:
# Writing to files
employee_file = open("employees.txt", "a")

employee_file.write("\nKelly - Customer Service")

employee_file.close()

In [ ]:
employee_file = open("employees.txt", "w")

employee_file.write("\nKelly - Customer Service")

employee_file.close()

In [73]:
employee_file = open("employees.txt", "w")

employee_file.write("<p>This is HTML</p>")

employee_file.close()

In [2]:
y = [1,2,3,4,5,6]
z = map(lambda x: x * 2, y)
print(list(z))

[2, 4, 6, 8, 10, 12]

In [3]:
numbers = [1,2,3,4,5,6]
cubes = [x**3 for x in numbers]
print(cubes)

[1, 8, 27, 64, 125, 216]

In [4]:
numbers = [1,2,3,4,5,6]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(list(even_numbers))

[2, 4, 6]

In [5]:
from functools import reduce
numbers = [1,2,3,4,5,6]
sum = reduce(lambda x, y: x + y, numbers)
print(sum)

21