In [ ]:
# TUPLES
# ORDER         -      YES
# MUTABILITY    -      No
# HETEROGENEOUS -      YES
# INDEXED       -      YES 
# SYNTAX        -      ( )

In [3]:
t1 = ('Apple', 'Banana', 1,2,1,3,1,1)
print(len(t1))
print(t1.count(1))
print(t1.index('Banana'))

8
4
1

In [6]:
t1 = (1,2,3,4,5,6)
lst = list(t1)
lst[2] = 9
t1 = tuple(lst)
print(t1)

(1, 2, 9, 4, 5, 6)

In [8]:
t1 = (1,2,3,4,5,6)
x = max(t1)
y = min(t1)
print(x,y)

6 1

In [9]:
t1 = (1,2,3,4,5,6)
t2 = (2,3,4,5)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6, 2, 3, 4, 5)

In [12]:
pairs=[(1,2),(3,4),(5,6)]
total=0
for element in pairs:
    for x in element:
        total+=x

print(total)

21

In [2]:
t1 = (1,2,3,4,5,6)
t2 = (7,8,9,0,1,2)
t3 = t1 + t2
print(t3)
print(len(t3))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2)
12

In [6]:
t1 = (1,2,3,4,5,6)
t2 = ('Hello', 'Hi', 'how', 'are', 'you')
t3 = t1 + t2
print(t3)
print(len(t3))

(1, 2, 3, 4, 5, 6, 'Hello', 'Hi', 'how', 'are', 'you')
11

In [10]:
t2 = (1,2,3,4,5,6)
lst = list(t2)
lst[3] = 10
t2 = tuple(lst)
print(t2)

(1, 2, 3, 10, 5, 6)

In [19]:
t2 = (1,2,3,4,5,6,7,8)
lst = list(t2)
lst[5] = 100
t2 = tuple(lst)
print(t2)

TypeError: 'tuple' object is not callable